.background {
    -fx-background-color: #ececec;
}

.digits {
    -fx-padding: 5 5 5 5;
    -fx-background-radius: 0;
    -fx-background-color: #fbfbfb;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16pt;
}

.digits:hover {
    -fx-background-color: #dfe1e5;
    -fx-border-color: #dee1e3;
}

.digits:armed {
    -fx-background-color: #c1c1c1;
}

.operators {
    -fx-padding: 5 5 5 5;
    -fx-background-radius: 0;
    -fx-background-color: #f5f5f5;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 16pt;
}

.operators:hover {
    -fx-background-color: #e6e6e6;
}

.operators:armed {
    -fx-background-color: #c1c1c1;
}

.operators_blue {
    -fx-padding: 5 5 5 5;
    -fx-background-radius: 0;
    -fx-background-color: #f5f5f5;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 16pt;
}

.operators_blue:hover {
    -fx-background-color: #67afe7;
    -fx-text-fill: white;
}

.operators_blue:armed {
    -fx-background-color: #a6d8ff;
    -fx-text-fill: white;
}

.numeric {
    -fx-font-family: "Arial Unicode MS";
    -fx-font-size: 30pt;
}

.history {
    -fx-font-family: "Arial Unicode MS";
    -fx-font-weight: 100;
    -fx-text-fill: #626062;
    -fx-font-size: 11pt;
}

.title {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 18pt;
}

.memory {
    -fx-font-family: "Arial Unicode MS";
    -fx-font-weight: 700;
    -fx-font-size: 8pt;
    -fx-padding: 5 5 5 5;
    -fx-background-radius: 0;
    -fx-background-color: #ececec;
}

.memory:hover {
    -fx-background-color: #dddedf;
}

.memory:armed {
    -fx-background-color: #cdcfce;
}

.big_button {
    -fx-padding: 5 5 5 5;
    -fx-background-radius: 0;
    -fx-background-color: #ececec;
}

.big_button:hover {
    -fx-background-color: #dfe1e5;
}

.controls {
    -fx-padding: 5 5 5 5;
    -fx-background-radius: 0;
    -fx-background-color: #f5f5f5;
    -fx-font-family: "Arial Unicode MS";
    -fx-font-weight: 100;
    -fx-font-size: 12pt;
}

.controls:hover {
    -fx-background-color: #e6e6e6;
}

.controls:armed {
    -fx-background-color: #c1c1c1;
}

.operators:hover {
    -fx-background-color: #e6e6e6;
}

.operators:armed {
    -fx-background-color: #c1c1c1;
}

.hide {
    -fx-padding: 5 5 5 5;
    -fx-background-radius: 0;
    -fx-background-color: #ececec;
    -fx-font-size: 10.5pt;
}

.hide:hover {
    -fx-background-color: #dfe1e5;
}

.hide:armed {
    -fx-background-color: #dfe1e5;
}

.exit {
    -fx-padding: 5 5 5 5;
    -fx-background-radius: 0;
    -fx-background-color: #ececec;
    -fx-font-size: 10.5pt;
}

.exit:hover {
    -fx-background-color: #e81123;
    -fx-text-fill: white;
}

.exit:armed {
    -fx-background-color: #f1707a;
    -fx-text-fill: white;
}

.list-view {
    -fx-background-color: transparent;
}

.list-cell {
    -fx-padding: 5 5 5 50;
    -fx-background-color: #ececec;
    -fx-font-family: "Segoe IU";
    -fx-font-size: 12pt;
    -fx-pref-height: 50;
}

.list-cell:hover {
    -fx-background-color: #e4e4e4;
}

.list-cell:armed, .list-cell:selected {
    -fx-background-color: #a6d8ff;
    -fx-text-fill: black;
}

.about {
    -fx-background-color: #ececec;
    -fx-font-family: "Segoe IU";
    -fx-font-size: 12pt;
}

.about:hover {
    -fx-background-color: #e4e4e4;
}

.about:pressed {
    -fx-background-color: #a6d8ff;
}

.tooltip {
    -fx-background-radius: 0;
    -fx-font-size: 8pt;
    -fx-background-color: #dddedf;
    -fx-text-fill: black;
}

.history_controls {
    -fx-padding: 0;
    -fx-background-radius: 0;
    -fx-background-color: #ececec;
    -fx-font-family: "Arial Bold";
    -fx-font-size: 15pt;
    -fx-font-weight: 900;
    -fx-text-fill: #0078d7;
}

.history_controls: hover {
    -fx-background-color: #bebebe;
    -fx-text-fill: black;
}

.history_controls: armed {
    -fx-background-color: #8e8e8e;
    -fx-text-fill: black;
}
